
@font-face {
  font-family: 'FrutigerLTArabic-75Black';
  src: url('FrutigerLTArabic-75Black.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTArabic-75Black.woff') format('woff'), url('FrutigerLTArabic-75Black.ttf')  format('truetype'), url('FrutigerLTArabic-75Black.svg#FrutigerLTArabic-75Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
