.manifesto_custom_img {
    p {
        img{
            margin: 0 auto;
        }
    }
}
h2.exp_headline {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #A3A0A0;
}
span.exp_divider {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #A3A0A0;
}
h3.exp_sub_headline {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #A3A0A0;
}
.admin_arabic_layout {
    input {
        direction: rtl;
    }
    textarea {
        direction: rtl;
    }
}