@font-face { 
    font-family: 'FrutigerLTArabic-45Light';
    src: url('../fonts/FrutigerLTArabic-45Light/FrutigerLTArabic-45Light.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/FrutigerLTArabic-45Light/FrutigerLTArabic-45Light.woff') format('woff'), 
         url('../fonts/FrutigerLTArabic-45Light/FrutigerLTArabic-45Light.ttf')  format('truetype'), 
         url('../fonts/FrutigerLTArabic-45Light/FrutigerLTArabic-45Light.svg#FrutigerLTArabic-45Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'FrutigerLTArabic-55Roman';
    src: url('../fonts/FrutigerLTArabic-55Roman/FrutigerLTArabic-55Roman.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/FrutigerLTArabic-55Roman/FrutigerLTArabic-55Roman.woff') format('woff'), 
         url('../fonts/FrutigerLTArabic-55Roman/FrutigerLTArabic-55Roman.ttf')  format('truetype'), 
         url('../fonts/FrutigerLTArabic-55Roman/FrutigerLTArabic-55Roman.svg#FrutigerLTArabic-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'FrutigerLTArabic-65Bold';
    src: url('../fonts/FrutigerLTArabic-65Bold/FrutigerLTArabic-65Bold.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/FrutigerLTArabic-65Bold/FrutigerLTArabic-65Bold.woff') format('woff'), 
         url('../fonts/FrutigerLTArabic-65Bold/FrutigerLTArabic-65Bold.ttf')  format('truetype'), 
         url('../fonts/FrutigerLTArabic-65Bold/FrutigerLTArabic-65Bold.svg#FrutigerLTArabic-65Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'FrutigerLTArabic-75Black';
    src: url('../fonts/FrutigerLTArabic-75Black/FrutigerLTArabic-75Black.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/FrutigerLTArabic-75Black/FrutigerLTArabic-75Black.woff') format('woff'), 
         url('../fonts/FrutigerLTArabic-75Black/FrutigerLTArabic-75Black.ttf')  format('truetype'), 
         url('../fonts/FrutigerLTArabic-75Black/FrutigerLTArabic-75Black.svg#FrutigerLTArabic-75Black') format('svg');
    font-weight: normal;
    font-style: normal;
  }
body {
    text-align: right;
    direction: rtl;
}
body,
h1, h2, h3, h4, h5, h6,
p, span, li, a {
    /* font-family: 'FrutigerLTArabic-45Light' !important; */
    font-family: 'Cormorant Garamond' !important;
}
.top_menu ul {
    direction: rtl;
}
.top_menu ul li:last-child{
    direction: ltr;
}
.slick-slide {
    float: right;
}
.arabic_layout .projects_gellery {
    direction: rtl;
}
.arabic_layout .projects_gellery a.class-2 {
    margin-left: 0;
    margin-right: 158px;
}
.arabic_layout .projects_gellery a.class-3 {
    margin-right: 158px;
    margin-left: 0;
}
.arabic_layout .projects_gellery a.class-4 {
    padding-left: 0;
    padding-right: 12px;
}
.arabic_layout .projects_gellery a.class-6 {
    padding-left: 0;
    padding-right: 12px;
}
.arabic_layout .projects_gellery a.class-7 {
    text-align: left;
    padding-right: 0;
    padding-left: 12px;
}
.arabic_layout .projects_gellery a.class-8 {
    padding-left: 160px;
    padding-right: 0;
}
.arabic_layout .projects_gellery a.class-10 {
    padding-left: 0;
    padding-right: 12px;
}

.arabic_layout .projects_gellery a.class-11 {
    text-align: left;
    padding-right: 0;
    padding-left: 12px;
}
.arabic_layout .projects_gellery a.class-12 {
    padding-left: 8px;
    padding-right: 0;
}
.arabic_layout .projects_gellery a.class-14 {
    padding-left: 25px;
    padding-right: 0;
}
.arabic_layout .projects_gellery a.class-17 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-18 {
    padding-right: 0;
    padding-left: 318px;
}
.arabic_layout .projects_gellery a.class-20 {
    padding-right: 12px;
    padding-left: 0;
}
.arabic_layout .projects_gellery a.class-21 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-22 {
    padding-right: 0;
    padding-left: 84px;
}
.arabic_layout .projects_gellery a.class-23 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-24 {
    padding-left: 136px;
    padding-right: 0;
}
.arabic_layout .projects_gellery a.class-26 {
    padding-left: 16px;
    padding-right: 0;
}
.arabic_layout .projects_gellery a.class-27 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-28 {
    padding-left: 48px;
    padding-right: 0;
}
.arabic_layout .projects_gellery a.class-29 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-31 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-32 {
    text-align: right;
    padding-left: 0;
    padding-right: 12px;
}
.arabic_layout .projects_gellery a.class-34 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-35 {
    padding-right: 12px;
    padding-left: 0;
}
.arabic_layout .projects_gellery a.class-37 {
    padding-right: 0;
    padding-left: 7px;
}
.arabic_layout .projects_gellery a.class-38 {
    margin-right: 0;
    margin-left: 5px;
}
.arabic_layout .projects_gellery a.class-40 {
    width: 100% !important;
    text-align: center;
}
.arabic_layout .projects_gellery a.class-41 {
    text-align: right;
    padding-right: 31px;
}
.arabic_layout .projects_gellery a.class-43 {
    padding-right: 0;
    padding-left: 14px
}
.arabic_layout .projects_gellery a.class-44 {
    text-align: right;
    padding-left: 0;
    padding-right: 364px;
}
.arabic_layout .projects_gellery a.class-45 {
    padding-right: 0;
    padding-left: 276px;
}
.arabic_layout .projects_gellery a.class-46 {
    text-align: left;
}
.arabic_layout .projects_gellery a.class-47 {
    text-align: right;
    padding-left: 0;
    padding-right: 12px;
}
.fp-slide, .fp-slidesContainer {
    direction: ltr;
}
.fancybox-caption .fancybox-caption__body {
    overflow: hidden;
}
footer .footer_bg_full p,
.contact_us_page footer .footer_bg_full p {
    direction: ltr;
    font-family: 'HelveticaNeue-Light' !important;
}
.hotels_bottom_nav span {
    font-family: 'HelveticaNeue-Light' !important;
}
@media (min-width: 576px) {
    .top_menu {
        padding-left: 24px;
    }
}
@media (min-width: 1200px) {
    .top_menu {
        right: unset !important;
        left: 15px;
        direction: rtl;
    }
}