.manifesto_custom_img p img {
    margin: 0 auto;
}
.manifesto_custom_img h6 {
    display: block;
    margin: 0 auto;
    max-width: 600px;
}
.fancybox-is-open .fancybox-bg{opacity:1 !important;}
#people_section h3 {
    width: 100%;
}
.contact_us_page footer {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
    background-image: none;
    overflow: hidden;
}
.contact_us_page .approach_footer p {
    color: #ffffff;
}
.contact_us_page .approach_footer .hotels_bottom_nav {
    color: #ffffff;
}
.contact_us_page .approach_footer .hotels_bottom_nav a {
    color: #ffffff;
}
.contact_usbtn a {
    display: block;
    position: relative;
    min-width: 180px;
}
.btnmobile a {
    margin-top: 0px !important;
}
.stories {
    padding-top: 68px !important;
    padding-bottom: 20px !important;
}
h2.exp_headline {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #A3A0A0;
}
span.exp_divider {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #A3A0A0;
}
h3.exp_sub_headline {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #A3A0A0;
}
.manifesto_intro p {
    display: block;
}
.manifesto_custom_img p span{
    padding: 0 !important;    
}
b, strong {
    font-weight: bold;
}
.filterDiv {
    float: left;
    display: none; /* Hidden by default */
}
  
/* The "show" class is added to the filtered elements */
.no-items {
    display: none;
}
.show {
    display: block; 
}
.projects_gellery a.class-1 {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.projects_gellery a.class-2 {
    display: block;
    margin-left: 158px;
    margin-bottom: 0px;
    width: 100%;
}
.projects_gellery a.class-3 {
    margin-left: 158px;
    width: 50%;
    float: left;
    flex-grow: 4;
}
.projects_gellery a.class-4 {
    vertical-align: bottom;
    margin-left: 0px;
    width: 37%;
    float: left;
    flex-grow: 4;
    padding-left: 12px;
}
.projects_gellery a.class-5 {
    vertical-align: bottom;
    flex-grow: 12;
    width: 36%;
}
.projects_gellery a.class-6 {
    padding-left: 12px;
}
.projects_gellery a.class-7 {
    width: 50% !important;
    float: left;
    text-align: right;
    padding-right: 12px;
}
.projects_gellery a.class-8 {
    flex-grow: 5;
    padding-right: 160px;
}

.projects_gellery a.class-9 {
    vertical-align: bottom;
    flex-grow: 12;
    width: 36%;
}
.projects_gellery a.class-10 {
    padding-left: 12px;
}

.projects_gellery a.class-11 {
    text-align: right;
    width: 50% !important;
    padding-right: 12px;
}
.projects_gellery a.class-12 {
    align-self: self-end;
    width: 50% !important;
    padding-right: 8px;
    padding-top: 2px;
}
.projects_gellery a.class-13 {
    width: 100% !important;
}
.projects_gellery a.class-14 {
    padding-top: 4px;
    width: 51% !important;
    padding-right: 25px;
}
.projects_gellery a.class-15 {
    width: 100% !important;
}
.projects_gellery a.class-16 {
    width: 100%;
    text-align: center;
}
.projects_gellery a.class-17 {
    width: 46% !important;
    text-align: right;
}
.projects_gellery a.class-18 {
    width: 54% !important;
    padding-right: 318px;
}
.projects_gellery a.class-19 {
    width: 50.5% !important;
    text-align: right;
    vertical-align: top;
}
.projects_gellery a.class-20 {
    width: 49.5% !important;
    padding-left: 12px;
    vertical-align: text-top;
}
.projects_gellery a.class-21 {
    width: 54% !important;
    text-align: right;
}
.projects_gellery a.class-22 {
    width: 46% !important;
    padding-right: 84px;
}
.projects_gellery a.class-23 {
    width: 54% !important;
    text-align: right;
}
.projects_gellery a.class-24 {
    width: 46% !important;
    padding-right: 136px;
    padding-top: 2px;
}
.projects_gellery a.class-25 {
    width: 54% !important;
}
.projects_gellery a.class-26 {
    width: 46% !important;
    padding-right: 16px;
}
.projects_gellery a.class-27 {
    width: 62% !important;
    text-align: right;
}
.projects_gellery a.class-28 {
    width: 38% !important;
    padding-right: 48px;
}
.projects_gellery a.class-29 {
    width: 100% !important;
    text-align: right;
}
.projects_gellery a.class-30 {
    width: 100% !important;
}
.projects_gellery a.class-31 {
    width: 50% !important;
    text-align: right;
}
.projects_gellery a.class-32 {
    width: 50% !important;
    text-align: left;
    padding-left: 12px;
}
.projects_gellery a.class-34 {
    width: 50% !important;
    text-align: right;
}
.projects_gellery a.class-35 {
    width: 50% !important;
    padding-left: 14px;
}
.projects_gellery a.class-36 {
    width: 60% !important;
}
.projects_gellery a.class-37 {
    width: 40% !important;
    padding-right: 7px;
}
.projects_gellery a.class-38 {
    vertical-align: bottom;
    margin-right: 5px;
}
.projects_gellery a.class-40 {
    width: 100% !important;
    text-align: center;
}
.projects_gellery a.class-41 {
    width: 100% !important;
    text-align: left;
    padding-left: 29px;
}
.projects_gellery a.class-42 {
    width: 53% !important;
    text-align: right;
    vertical-align: top;
}
.projects_gellery a.class-43 {
    width: 46% !important;
    padding-left: 2px;
    vertical-align: text-top;
    padding-right: 11px;
}
.projects_gellery a.class-44 {
    text-align: right;
    padding-left: 364px;
}
.projects_gellery a.class-45 {
    padding-right: 276px;
}
.projects_gellery a.class-46 {
    width: 50% !important;
    text-align: right;
}
.projects_gellery a.class-47 {
    width: 50% !important;
    text-align: left;
    padding-left: 12px;
}
.projects_gellery a.class-48 {
    width: 100% !important;
}
@media (min-width: 480px) {
    .projects_gellery img {
        margin-bottom: 0px !important;
        max-width: 100%;
    }
}
@media (min-width: 767px) {
    
}
@media (min-width: 1441px) {
    .projects_gellery img {
        margin-bottom: 0px !important;
        max-width: 100%;
    }
}
.mani_last .manifesto_intro .manifesto_intro_inner {
    height: 100%;
    overflow: auto;
}
.slide-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    z-index: 777;
    touch-action: unset;
}
body .fancybox-bg {
    background: #fff;
    /*opacity: 1; !important*/
}
body .fancybox-caption {
    background: none;
    color: #000;
}
.fancybox-show-caption .fancybox-caption,
.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-nav .fancybox-navigation .fancybox-button,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-toolbar .fancybox-infobar {
    opacity: 1;
    transition: opacity .9s ease 0s,visibility 0s ease 0s;
    visibility: visible
}

.fancybox-button {
    background: transparent !important;
    color: #000 !important;
}
.fancybox-button.fancybox-button--arrow_right svg,
.fancybox-button.fancybox-button--arrow_left svg {
    display: none !important;
}
.fancybox-button.fancybox-button--arrow_right div {
    width: 28px;
    height: 28px;
    background: transparent  url(../images/icons/arrow-right.svg) no-repeat center center;
    background-size: 28px;
}
.fancybox-button.fancybox-button--arrow_left div {
    width: 28px;
    height: 28px;
    background: transparent url(../images/icons/arrow-left.svg) no-repeat center center;
    background-size: 28px;
}
.fancybox-container .fancybox-infobar {
    display: none;
}
.fancybox-container .fancybox-toolbar {
    width: 44px;
    height: 44px;
    padding: 10px;
}
.fancybox-container .fancybox-button--close {
    background: #fff url(../images/icons/x.svg) center center/cover !important;
    width: 24px;
    height: 24px;
}
.fancybox-container .fancybox-button--close button {
    display: none;
}
.fancybox-container .fancybox-button--thumbs,
.fancybox-container .fancybox-button--play,
.fancybox-container .fancybox-button--zoom {
    display: none !important;
}
footer {
    padding: 40px 0px 18px;
}
.footer_bg_full {
    background: rgba(189, 199, 199, 0.2961);
    padding: 0;
}
footer .footer_bg_full .row {
    width: 100%;
    margin: 0;
}
footer .footer_bg_full .row .col-12 {
    padding: 0;
}
footer .footer_bg_full p {
    background: none;
}
.contact_us_page .footer_bg_full {
    background: none;
}
.contact_us_page footer .footer_bg_full p {
    background: rgba(189, 199, 199, 0.2961);
    direction: ltr;
    color: #ffffff;
}
@media only screen and (max-width: 575px) and (min-width: 240px)  {
    .fancybox-image, .fancybox-spaceball {
        position: relative !important;
        padding: 0 10px !important;
    }
    .fancybox-container .fancybox-caption {
        padding: 75px max(10px,env(safe-area-inset-right)) max(25px,env(safe-area-inset-bottom)) max(10px,env(safe-area-inset-left));
    }
}