/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;/* font-family: 'Cormorant Garamond', serif; */
    font-family: 'HelveticaNeue-Light';
    font-weight: 300;
}
a {
    text-decoration: none;
}
table {
    border-spacing: 0;
}
.font-cg {
    font-family: Cormorant Garamond;
}
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;/* font-family: 'Cormorant Garamond', serif; */
    font-family: 'HelveticaNeue-Light';
    font-weight: 300;
}
a {
    text-decoration: none;
}
table {
    border-spacing: 0;
}
.font-cg {
    font-family: Cormorant Garamond;
}
fieldset, img {
    border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
strong {
    font-weight: bold;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
/* Custom CSS
 * --------------------------------------- */
body {
    color: #333;
    color: rgba(0,0,0,0.5);
}
.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}
h1 {
    font-size: 6em;
}
p {
    font-size: 2em;
}
.mute_btn {
    position: absolute;
    bottom: 44px;
    z-index: 99;
    left: 53px;
    border: none;
    background-color: transparent;
}
.mute_btn img {
    width: 25px;
    height: 18px;
}
.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
.section {
    text-align: center;
}
.hotels_main.fp-viewing-1-0 .logo_grey, .hotels_main.fp-viewing-2-0 .logo_grey, .projects_main2 .logo_grey {
    display: block !important;
}
.hotels_main.fp-viewing-1-0 .logo_white, .hotels_main.fp-viewing-2-0 .logo_white, .projects_main2 .logo_white {
    display: none !important;
}
.hotels_main.fp-viewing-1-0 .main_menu, .hotels_main.fp-viewing-2-0 .main_menu, .projects_main.main_menu {
    position: fixed;
}
.hotels_main.fp-viewing-1-0 nav.navbar.navbar-expand-lg, .hotels_main.fp-viewing-2-0 nav.navbar.navbar-expand-lg, .projects_main2 nav.navbar.navbar-expand-lg {
    background: rgba(189, 199, 199, 0.3261);
}
.hotels_main.fp-viewing-1-0 .top_menu ul li .dropdown button, .hotels_main.fp-viewing-2-0 .top_menu ul li .dropdown button, .projects_main2 .top_menu ul li .dropdown button {
    color: #B9B7B7;
}
#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: #fff;
    background: rgba(255,255,255, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active {
    background: #666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a {
    text-decoration: none;
    color: #000;
}
#menu li.active a:hover {
    color: #000;
}
#menu li:hover {
    background: rgba(255,255,255, 0.8);
}
#menu li a, #menu li.active a {
    padding: 9px 18px;
    display: block;
}
#menu li.active a {
    color: #fff;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}
.twitter-share-button {
    position: fixed;
    z-index: 99;
    right: 149px;
    top: 9px;
}
#download {
    margin: 10px 0 0 0;
    padding: 15px 10px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from( #5bc0de), to( #2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
#download a {
    text-decoration: none;
    color: #fff;
}
#download:hover {
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #2F96B4;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -ms-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
}
/* Top menu css */
.top_menu {
    position: absolute;
    right: 0px;
    top: -46px;
    display: block;
    z-index: 4;
}
.top_menu ul {
    display: block;
}
.top_menu ul li {
    display: inline-block;
    padding: 0 0px;
}
.top_menu ul li a{
    padding-bottom: 5px;
}
.top_menu ul li a:hover{
    border-bottom: solid 1px #ffff;
}
.top_menu ul li .dropdown {
    background-color: transparent !important;
}
.top_menu ul li .dropdown button {
    background-color: transparent;
    border: none;
    padding-left: 5px;
    color: white;
    font-size: 12px;
}
.top_menu ul li .dropdown .dropdown-menu button.dropdown-item {
    padding: 5px 5px !important;
    color: white;
}
.top_menu ul li .dropdown .dropdown-menu {
    width: 20px;
    min-width: 28px;
    /*background-color: #67b3bc;*/
    color: white;
    border: none;
    left: -4px;
    padding-top: inherit;
}
.top_menu ul li .dropdown.show>.btn-secondary.dropdown-toggle {
    background-color: none;
    border-color: none;
    font-size: 12px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-shadow: 0 0 0 0;
}
button#dropdownMenu2 {
    padding: 0px;
    font-size: 14px;
    margin-right: 0px;
}
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: transparent !important;
    text-shadow: 0 0 0 0;
    font-size: 12px;
    padding: 0px;
}
/* Top Menu Css */
#infoMenu {
    height: 20px;
    color: #f2f2f2;
    position: fixed;
    z-index: 70;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    padding: 8px 0 8px 0;
}
#infoMenu ul {
    padding: 0 40px;
}
#infoMenu li a {
    display: block;
    margin: 0 22px 0 0;
    color: #333;
}
#infoMenu li a:hover {
    text-decoration: underline;
}
#infoMenu li {
    display: inline-block;
    position: relative;
}
#examplesList {
    display: none;
    background: #282828;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 20px;
    float: left;
    position: absolute;
    bottom: 29px;
    right: 0;
    width: 638px;
    text-align: left;
}
#examplesList ul {
    padding: 0;
}
#examplesList ul li {
    display: block;
    margin: 5px 0;
}
#examplesList ul li a {
    color: #BDBDBD;
    margin: 0;
}
#examplesList ul li a:hover {
    color: #f2f2f2;
}
#examplesList .column {
    float: left;
    margin: 0 20px 0 0;
}
#examplesList h3 {
    color: #f2f2f2;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 0 0 5px 0;
}
/* Demos Menu
 * --------------------------------------- */
#demosMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}
/* Style for our header texts
        * --------------------------------------- */
h1 {
    color: #fff;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-family: 'HelveticaNeue-Light';
    padding: 0 15px;
}
/* Centered texts in each section
        * --------------------------------------- */
.section {
    text-align: center;
    overflow: hidden;
}
#myVideo, #myVideo1, #myVideo2, #myVideo3, #myVideo4, #myVideo5, #myVideo6, #myVideo7 {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* in case the video doesn't fit the whole page*/
    /*background-image:  our video ;*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: 3;
}
/* Layer with position absolute in order to have it over the video
        * --------------------------------------- */
#section0 .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 43%;
    /*
            * Preventing flicker on some browsers
            * See http://stackoverflow.com/a/36671466/1081396  or issue #183
            */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/*solves problem with overflowing video in Mac with Chrome */
#section0 {
    overflow: hidden;
}
/* Bottom menu
        * --------------------------------------- */
#infoMenu li a {
    color: #fff;
}
/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
    display:none !important;
}
/*my custom style here*/

.layer {
    position: relative;
    z-index: 3;
}
.hotel03 h5 {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    /* A3A0A0 */
    color: #A3A0A0;
    font-family: 'HelveticaNeue-Light';
    margin-bottom: 30px;
    margin-top: 60px;
}
.hotel03 {
    position: relative;
    width: 100%;
    padding: 0px;
    top: 110px;
    bottom: 72px;
    display: flex;
    flex-direction: column;
}.hotel_page {
    display: contents;
}
.hotels_bottom_nav {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    padding: 25px 20px 35px 20px;
}
.hotels_bottom_nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    float: right;
    margin-right: 0px;
    color: #A3A0A0;
    margin-top: 0;
}
.go_up img {
    padding-left: 10px;
    vertical-align: middle;
}
.hotel03 h1.slide_two {
    position: relative;
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #A3A0A0;
    padding: 0 15px;
    font-size: 22px;
    line-height: 23px;
}
.hotel03 h4 {
    font-family: 'HelveticaNeue-Light';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    /* A3A0A0 */
    color: #A3A0A0;
    margin-top: 12px;
    padding: 0 15px;
}
.hotel03 h6 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    display: flex;
    align-items: center;
    text-align: center;
    /* A3A0A0 */
    color: #A3A0A0;
    font-family: 'HelveticaNeue-Light';
    max-width: 660px;
    margin: 50px auto 60px auto;
    padding: 0 15px;
}
.sub-menu {
    position: absolute;
    z-index: 1000;
    width: 100%;
}
.sub-menu li {
    display: none;
}
.sub-menu li img {
    height: auto;
    width: 50%;
}
.sub-menu li img.home_text2 {
    width: 50%;
}
/*nav bas css*/
.main_menu {
    display: table;
    table-layout: fixed;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    z-index: 9;
}
.navMain {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.navbar-toggler svg {
    color: #fff;
}
nav.navbar.navbar-expand-lg.navbar-light {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    /*background-image:  our video ;*/
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 3;
}
nav.navbar.navbar-expand-lg {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 72px;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 36%);
    /*background-image: our video ;*/
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    z-index: 778;
    min-height: 38px;
    display: block;
    padding: .5rem 1rem;
}
.nav_flex_2 {
    position: absolute;
    top: -71px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transform: translateY(0rem);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.projects_main nav.navbar {
    top: 0px;
    transform: translateY(0rem);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background: white !important;
    border-bottom: solid 1px #b3b3b3;
}
.projects_main nav.navbar .navbar-brand{
    filter: brightness(50%);
}
.projects_main button.navbar-toggler rect {
    fill: grey;
}
.projects_main nav.navbar .nav_flex_2 img.logo_grey {
    display: block !important;
}

.projects_main nav.navbar .nav_flex_2 img.logo_white {
    display: none;
}
a.navbar-brand {margin-right: 0px;}
.nav-link {
    padding: .5rem 1rem;
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.navbar-collapse {
    background-color: rgb(0 0 0 / 36%);
    padding: 0 20px;
    border-radius: 6px;
    margin-top: 12px;
    position: relative;
    z-index: 2;
}
.nav_flex_1 {
    display: inline-block;
}
.nav_flex_3 {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}.navbar-nav .nav-link:hover {
    color: grey;
}
.nav_flex_3 ul li a, .nav_flex_1 ul li a {
    border-bottom: solid 1px #ffffff;
    text-shadow: 1px 1px 1px #0000007a;
}
.main_menu {
    /*	display: none;*/
    position: fixed;
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition-delay: 4s;
}
.menuop_one{
    opacity: 1;
}
.projects_main section#mainmenu {
    opacity: 1;
}
#homeid1, #homeid2, #homeid3, #homeid4, #homeid5, #homeid6 , #homeid6{
    display: none;
}
#hotels01, #hotels02, #hotels03 {
    display: none;
}
/* slidebg images */
/* Centered texts in each section
        * --------------------------------------- */
.section {
    text-align: center;
}
/* Backgrounds will cover all the section
        * --------------------------------------- */
.section {
    background-size: cover;
}
.slide {
    background-size: cover;
}
/* Defining each section background and styles
        * --------------------------------------- */
#section0 {
    /*background-image: url(../images/homepage-2.jpg);*/
    background-position: center;
}
#section1 {
    background-image: url(../images/homepage-2.jpg);
    padding: 0 0 0;
    background-position: center;
}
#section2 {
    background-image: url(../images/homepage-3.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
#section3 {
    background-image: url(../images/bg1.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
#section4 {
    background-image: url(../images/bg2.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
#section5 {
    background-image: url(../images/bg3.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
/*#sectionhotels {*/
/*    background-image: url(../images/hotels-01.png);*/
/*    padding: 0 0 0 0;*/
/*    background-position: center;*/
/*}*/
#sectionhotels {
    position: relative;
}
.exp_inner {
    padding-top: 70px;
}
#sectioncontactus {
    /*background-image: url(../images/contactus01.jpg);*/
    padding: 0 0 0 0;
    background-position: center;
}
#sectionmenifesto {
    /*background-image: url(../images/manifesto_main_bg.jpg);*/
    padding: 0 0 0 0;
    background-position: center;
}
#sectionmenifesto2 {
    background-image: url(../images/manifesto_021.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
#sectionmenifesto3 {
    /*background-image: url(../images/manifesto_02.jpg);*/
    padding: 0 0 0 0;
    background-position: center;
}
#sectionmenifesto4 {
    padding: 0 0 0 0;
    background-position: center;
}
#sectionmenifesto5 {
    padding: 0 0 0 0;
    background-position: center;
}
#sectionmenifesto6 {
   
    padding: 0 0 0 0;
    background-position: center;
}
#sectionhotels01 {
    background-image: url(../images/hotels-01.png);
    padding: 0 0 0 0;
    background-position: center;
}
#sectionhotels02 {
    background-image: url(../images/hotels-02.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
#sectionhotels03 {
    background-image: none;
    background-color: white !important;
    padding: 0 0 0 0;
    background-position: center;
    min-height: 540px;
    position: relative;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    overflow: visible;
}
#section3 h1 {
    color: #fff;
}
/*Adding background for the slides
        * --------------------------------------- */
#slide1 {
    background-image: url(../images/homepage-2.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
#slide2 {
    background-image: url(../images/homepage-2.jpg);
    padding: 0 0 0 0;
    background-position: center;
}
.fp-section .fadeIn {
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 2s ease-in-out;
}
.fp-section.active .fadeIn {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}
.fp-section .fadeUp {
    width: 100%!important;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 2s ease-in-out;
    bottom: 100px !important;
}
.fp-section.active .fadeUp {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    bottom: 130px !important;
}
.fp-section .fadeUp2 {
    width: 100%!important;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    transition: all 2s ease-in-out;
    bottom: 0px !Important;
}
.fp-section.active .fadeUp2 {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    bottom: 30px !important;
}
.navbar-toggler {
    margin-top: -6px;
    position: relative;
    top: -3px;
}
/* loader css */
.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/preloader_11.gif) center no-repeat #fff;
}
/* loader css */
@media (min-width: 480px) {
    .projects_gellery img {
        margin-bottom: 0px !important;
        max-width: 100%;
    }
}
/* Hotels css */
.hotel02 {
    display: block;
    width: 100%;
    flex-grow: 12;
    position: absolute;
    top: 88%;
    transform: translateY(-90%);
    margin-left: 0px;
    margin-right: 0px;
}
.hotel02 p {
    max-width: 579px;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    align-items: center;
    color: white;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 0 15px;
    font-family: 'HelveticaNeue-Light';
}
.hotels-innner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hotels {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}
.hotels_small {
    padding: 0 20px;
    position: absolute;
    top: 59%;
    transform: translateY(-52%);
    font-size: 23px;
    line-height: 24px;
}
.hotels_inner_bg {
    background: rgba(189, 199, 199, 0.2961);
    padding: 1px 0px;
    display: block;
    width: 100%;
}
.arrow_down_hotel {
    display: block;
    margin: 0 auto;
    margin-top: 23px;
    background-color: transparent;
    border: none;
    -moz-transform: rotate(45deg) translate(-50%)!important;
    -ms-transform: rotate(45deg) translate(-50%)!important;
    -o-transform: rotate(45deg) translate(-50%)!important;
    -webkit-transform: rotate(45deg) translate(-50%)!important;
    border-color: #fff;
    border-style: solid;
    border-width: 0 1px 1px 0;
    height: 25px;
    left: 49%;
    bottom: -40px;
    position: absolute;
    transform: rotate(45deg) translate(-50%)!important;
    width: 25px;
}
.imageslider {
    background: transparent;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
}
/*.imageslider:before {
    content: '';
    width: 13%;
    height: 100%;
    position: absolute;
    left: 0px;
    background: transparent;
    z-index: 2;
}*/
/*.imageslider:after {
    content: '';
    width: 13%;
    height: 100%;
    position: absolute;
    right: 0px;
    background: transparent;
    z-index: 2;
    top: 0px;
}*/
/*Project page css*/
.layer.projects {
    position: relative;
    overflow-y: auto;
    height: 100vh;
    top: 120px;
}
section#mainmenuhotels {
    background-color: white;
}
div#sectionprojects {
    background-color: white !important;
}
body.projects_main2 {
    background-color: white;
}
.projects_gellery {
    max-width: 1352px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(100% + 36px);
}
.projects_gellery a {
    padding-bottom: 12px;
}
/*my style*/

.exp_inner img {
    display: block;
    margin: 15px auto;
    text-align: center;
}
#work-with {
    background-image: url(../images/approach/approach_02.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 45px 0 75px 0;

}
#work-with .li-box ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 0px;
    padding-bottom: 20px;
    align-items: center;
    align-self: center;
}
#work-with .li-box {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0 0 0;
}
#work-with .li-box ul li {
    width: 25%;
    text-align: center;
}
#work-with img {
    display: block;
    max-width: 50%;
    margin: 0 auto;
    vertical-align: middle;
}
#work-with .li-box ul li:nth-child(13) img {
    max-width: 40%;
}
#work-with .li-box ul li:nth-child(8) img {
    max-width: 60%;
}
#work-with .li-box ul li:nth-child(16) img {
    max-width: 32%;
}
#work-with .li-box ul li:nth-child(12) img {
    max-width: 55%;
}
#work-with .li-box ul li:nth-child(9) img {
    max-width: 58%;
}
#work-with .li-box ul li:nth-child(17) img {
    max-width: 55%;
}
#work-with .li-box ul li:nth-child(19) img {
    max-width: 55%;
}
#work-with .li-box ul li:nth-child(4) img {
    max-width: 28%;
}
#work-with .li-box ul li:nth-child(14) img {
    max-width: 82%;
}
#work-with .li-box ul li:nth-child(14) img {
    max-width: 30%;
}
#work-with .li-box ul li:nth-child(15) img {
    max-width: 55%;
}
#work-with .li-box ul li:nth-child(18) img {
    max-width: 55%;
}
.heading_group.white span {
    font-family: 'HelveticaNeue-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.heading_group.white h2 {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    margin: 20px 0 0 0;
    color: #FFFFFF;
}
.heading_group span {
    font-family: 'HelveticaNeue-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #A3A0A0;
}
.heading_group h2 {
    font-family: Cormorant Garamond;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    margin: 20px 0 25px 0;
    color: #A3A0A0;
}
#people_section {
    padding: 43px 0;
}
#people_section h3 {
    font-family: 'HelveticaNeue-Light';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px auto 37px auto;
    color: #A3A0A0;
}
#people_section p {
    font-family: 'HelveticaNeue-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #A3A0A0;
    max-width: 710px;
    margin: 0 auto;
}
#media_section {
    background: rgba(189, 199, 199, 0.2961);
    padding: 45px 0;
}.heading_group {
    position: relative;
}
.sub_heading {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #A3A0A0;
    margin-bottom: 38px;
}
.media_drop {
    position: relative;
    left: 0px;
    background-color: transparent;
    /*padding: 7px 28px;*/
    width: 120px;
    height: 40px;
    font-weight: 300;
    font-size: 16px;
    /*line-height: 12px;*/
    color: #A3A0A0;
    border: 1px solid #A3A0A0;
    display: block;
    text-align: center;
    margin: 20px auto 0 auto;
    padding: 4px 11px;
    line-height: 30px;
    /* text-indent: 20px;
    text-align-last: center; */
}
.inner_approach_full {
    max-width: 100%;
    width: 100%;
    display: block;
    overflow-x: hidden;
}
.menu-box {
    margin-top: 30px;
}
.menu-box img {
    margin: 20px 0 20px 0;
}
#client_section h3 {
    font-family: 'HelveticaNeue-Light';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px auto 37px auto;
    color: #A3A0A0;
}
#client_section p {
    font-family: 'HelveticaNeue-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #A3A0A0;
    max-width: 750px;
    margin: 0 auto;
}
#client_section {
    padding: 44px 0;
}
#expertise_section {
    background: rgba(189, 199, 199, 0.2961);
    padding: 45px 0;
}.expertise_box {
    position: relative;
}
.expertise_box h3 {
    position: absolute;
    bottom: 210px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    font-family: 'HelveticaNeue-Light';
    font-weight: 300;
}
.expertise_box h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px auto 37px auto;
    color: #A3A0A0;
    font-family: Cormorant Garamond !important;
    margin-top: 29px !important;
}
.expertise_box p {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    color: #A3A0A0;
    font-family: 'HelveticaNeue-Light';
    max-width: 290px;
    margin: 0 auto;
}
#services_section p {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    /* A3A0A0 */
    color: #A3A0A0;
    font-family: 'HelveticaNeue-Light';
    max-width: 290px;
    margin: 0 auto;
    padding-left: 12px;
}
.footer_bg_full {
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0px 18px;
}
.footer_bg_full p {
    font-family: 'HelveticaNeue-Light';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(189, 199, 199, 0.2961);
    padding: 10px 0;
}
footer {
    background-repeat: no-repeat;
    background-position: center;
}footer.project_ft {
    /*background-image: url(../images/project_ft_bg.jpg);*/
    background-size: cover;
    margin-top: 100px;
}
footer .hotels_bottom_nav {
    color: white;
}
/*my style*/
.manifesto_intro span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-top: 12%;
    display: block;
    font-family: 'HelveticaNeue-Light';
}
.manifesto_intro h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    padding: 0 15px;
    align-items: center;
    text-align: center;

    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Cormorant Garamond;
}
.manifesto_intro h3 {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'HelveticaNeue-Light';
    max-width: 330px;
    margin: 0 auto;
    padding-bottom: 3%;
}
.manifesto_intro p {

    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    /* #FFFFFF */
    color: #FFFFFF;
    width: 100%;
    max-width: 340px;
    font-family: 'HelveticaNeue-Light';
}
.manifesto_intro  span.number_mani {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0px;
    font-family: Cormorant Garamond;
    padding-top: 4%;
}
h5.manifesto_name {
    top: 97%;
    transform: translateY(-97%);
    position: absolute;
    color: white;
    font-size: 12px;
}
.manifesto_inner_box {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.manifesto_intro {
    max-width: 395px;
    width: 100%;
    max-height: 401px;
    height: 100%;
    /*background: rgba(0 0 0 / 36%);*/
    background: rgb(255 255 255 / 36%);
    top: 73%;
    transform: translateY(-73%);
    bottom: 0px;
    position: absolute;
}
.mani_last .manifesto_intro {
    background-color: white;
    max-height: 321px;
    max-width: 357px;
    top: 78%;
    transform: translateY(-78%);
    bottom: 0px;
    position: absolute;
}
.mani_last .manifesto_intro span {
    color: #A3A0A0;
    padding-top: 5%;
}
.mani_last .manifesto_intro h2 {
    color: #A3A0A0;
    padding-top: 3%;
    padding-bottom: 3%;
}
.mani_last .manifesto_intro h3 {
    color: #A3A0A0;
    padding-top: 0%;
    padding-bottom: 4%;
}
.mani_last .manifesto_intro p {
    color: #A3A0A0;
    /*padding-bottom: 2%;*/
}
.btn_box {
    width: 105px;
    height: 48px;
    background: #C4C4C4;
    margin: 20px auto;
    padding: 0 !important;
    display: block;
}
.fp-controlArrow.fp-next {
    border: solid 2px white;
    width: 28px;
    height: 27px;
    padding: 14px;
    background-image: url(../images/icons/right_arrow.png);
    background-position: center center;
    background-size: 5px;
    background-repeat: no-repeat;
    top: 90%;
    right: 40px;
}
.fp-controlArrow.fp-prev {
    border: solid 2px white;
    width: 28px;
    height: 27px;
    padding: 14px;
    background-image: url(../images/icons/right_arrow.png);
    background-position: center center;
    background-size: 5px;
    background-repeat: no-repeat;
    left: 40px;
    transform: rotate(180deg);
    -webkit-transform-origin-x: center;
    top: 90%;
}
div#sectionapproach_full {
    padding-top: 140px;
}
footer .hotels_bottom_nav a {
    color: white;
}
footer .hotels_bottom_nav span {
    margin-right: -80px;
}
.approach_footer p {
    color: #737373;
}
.approach_footer .hotels_bottom_nav {
    color: grey;
}
.approach_footer .hotels_bottom_nav a {
    color: grey;
}
.ah_exp_cls {
    margin-bottom: 40px;
}
/*Contact us page css*/
.contact_us02 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    display: block;
    font-family: 'HelveticaNeue-Light';
}
.contact_us01 {
    flex-direction: column;
}
.contact_usbtn a {
    font-family: 'HelveticaNeue-Light' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: solid 1px white;
    padding: 12px 10px;
    margin-top: 0px;
    text-decoration: none;
}
p.contact_us03 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'HelveticaNeue-Light';
    margin-top: 10px;
}
#sectioncontactus footer {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
    background-image: none;
    overflow: hidden;
}
.contact_usbtn {
    display: flex;
    padding: 2px;
}
body.hotels_main.fp-viewing-2-0 {
    overflow-y: scroll !IMPORTANT;
}
.slick-list{
    padding:0 !important;
}
/*Contact us page css*/
.slick-prev, .slick-next {
    top: 37%;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    z-index: 2;
    border: solid 2px #fff;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background-color: #000000;
}
.slick-prev:before {
    color: #ffffffe0;
    font-size: 14px;
}
.slick-prev {
    left: 25px;
}
.slick-next::before, .slick-prev::before {
    color: #ffffffe0;
    font-size: 14px;
}
.slick-next {
    right: 25px;
}
.mfp-content {
    /* width: 90%; */
    /* height: 80%; */
    height: 90vh;
}
.mfp-figure {
    /* width: 100%; */
    height: 100%;
}
img.mfp-img {
    /* object-fit: cover; */
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    /* width: 100% !important; */
    /* height: 100% !important; */
    /* max-height: 100% !important; */
    width: 100% !important;
    height: 100% !important;
}
figure {
    /* position: relative; */
    /* width: 100%; */
    height: 100%;
}
@media (max-width: 1024px){
    .slick-slide {
        padding: 0;
    }
    .slick-carousel{
        width:100% !important;
    }
    .slick-slide{
        height:auto;
    }
    .slick-slide{
        height:auto;
    }
}
@media only screen and (max-width: 575px) and (min-width: 240px)  {
    #fullpage .layer.gallery .projects_gellery a {
        padding-bottom: 12px;
        width: 100% !important;
        padding: 0 !important;
        text-align: center;
        margin: 0 auto !important;
        max-width: 100% !important;
    }
    .projects_gellery a img {
        max-width: 100% !important;
    }
    .projects_gellery {
        width: calc(100% + 0px);
    }
    .layer.gallery {
        position: relative;
        padding-top: 140px;
        overflow-x: hidden;
        z-index: 1;
    }.projects_gellery a img {
        width: 100%;
        padding: 10px 20px;
    }
}
@media (min-width: 576px) {
    .sub-menu li img {
        width: 50%;
    }
    .sub-menu li img.home_text2 {
        width: 40%;
        margin-top: 10px;
    }
    .top_menu {
        padding-right: 24px;
    }
    h1 {
        font-size: 34px;
    }
    .hotels {
        font-size: 140px;
        line-height: 0.7;
    }
    .hotels_small {
        font-size: 28px;
        line-height: 41px;
        top: 63%;
        transform: translateY(-63%);
    }
    .hotels_bottom_nav span{
        text-align: center !important
    }
}
@media (min-width: 767px) {
    .manifesto_intro h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 41px;
        align-items: center;
        text-align: center;
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        font-family: Cormorant Garamond;
    }
    .mani_last .manifesto_intro {
        background-color: white;
        max-height: 391px;
        max-width: 727px;
        top: 76%;
        transform: translateY(-78%);
        bottom: 0px;
        position: absolute;
    }
    .fp-controlArrow.fp-prev {
        top: 50%;
    }
    .fp-controlArrow.fp-next {
        top: 50%;
    }
    .manifesto_intro h2 {
        padding-top: 4%;
        padding-bottom: 7%;
        font-family: Cormorant Garamond;
    }
    .manifesto_intro h3 {
        font-size: 16px;
        line-height: 19px;
        font-family: 'HelveticaNeue-Light';
        padding-bottom: 7%;
    }
    .manifesto_intro p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        width: 100%;
        max-width: 600px;
        font-family: 'HelveticaNeue-Light';
    }
    p.contact_us03 {
        font-size: 14px;
        line-height: 17px;
        margin-top: 20px;

    }
    .contact_usbtn a {
        font-size: 20px;
        line-height: 41px;
        padding: 10px 16px;
        margin-top: 17px;
    }
    .hotel02 p
    {
        font-size: 14px;
        margin: 20px auto;
        font-weight: 300;
    }
    .hotel03 h1.slide_two {
        font-size: 30px;
        line-height: 41px;
        margin-bottom: 20px;
    }
    .manifesto_intro {
        max-width: 505px;
        width: 100%;
        max-height: 371px;
        height: 100%;
        top: 76%;
        transform: translateY(-76%);
    }
    h5.manifesto_name {
        top: 99%;
        transform: translateY(-97%);
    }
    .manifesto_intro span {
        padding-top: 8%;
    }
    .manifesto_intro h2 {
        font-size: 30px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .manifesto_intro h3 {
        font-size: 16px;
        padding-bottom: 4%;
    }
    .mani_last .manifesto_intro {
        background-color: white;
        max-height: 391px;
        max-width: 727px;
        top: 76%;
        transform: translateY(-78%);
        bottom: 0px;
        position: absolute;
    }
    .mani_last .manifesto_intro span {
        color: #A3A0A0;
        padding-top: 5%;
    }
    .mani_last .manifesto_intro h2 {
        color: #A3A0A0;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .mani_last .manifesto_intro h3 {
        color: #A3A0A0;
        padding-top: 0%;
        padding-bottom: 4%;
    }
    .mani_last .manifesto_intro p {
        color: #A3A0A0;
        /*padding-bottom: 2%;*/
    }
    .btn_box {
        width: 105px;
        height: 48px;
        background: #C4C4C4;
        margin: 20px auto;
        padding: 0 !important;
        display: block;
    }
    #work-with .li-box ul {
        flex-direction: row;
    }
    .projects_gellery img {
        margin-bottom: 0px !important;
        max-width: 100%;
    }
    .layer.gallery {
        position: relative;
        padding-top: 140px;
    }
}
@media (min-width: 992px) {
    .media_drop {
        /*position: absolute;*/
        /*display: inline-block ;*/
        text-align: center;
        /*margin: 0;*/
    }
    img.mfp-img {
        object-fit: cover;
        /* position: absolute; */
        /* left: 0; */
        /* top: 0; */
        /* width: 100% !important; */
        /* height: 100% !important; */
    }
    .projects_main .nav_flex_2 {
        transform: translateY(-12rem);
        opacity: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }.projects_main nav.navbar a.nav-link {
        color: grey;
    }
    .hotel03 h6 {
        margin: 50px auto 90px auto;
    }
    .hotel03 h5 {
        margin-top: 100px;
    }
    .arrow_down_hotel {
        height: 40px;
        left: 49.5%;
        bottom: -50px;
        position: absolute;
        transform: rotate(45deg) translate(-50%)!important;
        width: 40px;
    }
    .top_menu ul li .dropdown button {
        padding-left: 15px;
    }
    .navbar-collapse {
        background-color: transparent;
        padding: 0px;
        border-radius: 0px;
    }
    .navbar-collapse.show {
        display: flex;
        justify-content: space-between;
    }
    .nav_flex_1 {
        display: flex;
    }
    .nav_flex_3 {
        display: flex;
        vertical-align: top;
        padding-left: 0px;
    }
    .nav_flex_3 ul li a, .nav_flex_1 ul li a {
        border-bottom: solid 0px #ffffff;
        text-shadow: 0px 0px 0px #0000007a;
    }
    nav.navbar.navbar-expand-lg {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .collapse.navbar-collapse {
        justify-content: space-between !important;
        flex-direction: row;
        width: 100%;
        margin-top: 0px;
    }
    h1 {
        font-size: 50px;
        line-height: 89px;
        padding: 0 20px;

    }
    .hotels {
        font-size: 180px;
        line-height: 0.7;
        display: block;
        width: 100%;
        /* margin-bottom: -160px; */
        top: 45%;
        transform: translateY(-45%);
    }
    .hotels_small {
        font-size: 34px;
        line-height: 41px;
    }
    .hotels_bottom_nav a {
        margin-right: 40px;
    }
    .manifesto_intro {
        max-height: 570px;
        max-width: 1000px;
        top: 75%;
        transform: translateY(-76%);
    }
    .manifesto_intro span {
        padding-top: 5%;
    }
    .manifesto_intro h2 {
        font-size: 34px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .manifesto_intro h3 {
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 991px){
    .projects_gellery{
        display: block;
    }
    .gallery{
        display: block !important;

    }
    nav.navbar.navbar-expand-lg {
        top: 0px;
        min-height: 60px;
        background-color: rgb(0 0 0 / 36%);
        text-align: right;
    }
    .nav_flex_1 {width: 47%;padding: 20px 0;}
    .nav_flex_3 {width:50%;text-align: left;padding: 20px 0;}
    .nav_flex_3 ul.navbar-nav {
        width: 100%;
        text-align: left;
    }
    .top_menu {
        right: 5px;
        top: 14px;
        display: none;
    }
    .navbar-toggler {
        margin-top: 0px;
        top: 2px;
        font-size: 30px !important;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        right: 0px !important;
    }
    .nav_flex_2 {
        top: 2px;
        width: 30%;
    }.nav_flex_2 img {
        max-width: 72px;
        height: auto;
        padding-top: 3px;
    }		
}
@media only screen and (max-width: 767px){
    #services_section p {
        margin-bottom: 50px;
    }
    .expertise_box {
        margin-bottom: 40px;
    }
    .slick-slide {
        max-height: 640px !important;
    }
}
@media only screen and (max-width: 576px){

    .carousel-item img {
        max-width: 100%;
    }
    .mobile_cour {
        position: relative;
        height: 310px;
        object-fit: cover;
        max-width: 80%;
        margin: 0 auto;
    }
    .hotels_bottom_nav span {
        text-align: left;
    }
    .mobile_cour img {
        height: 200px;
        object-fit: cover;
        object-position: center center;
        width: 100%;
    }
    .pswp img{
        object-fit: contain;
        padding: 0 7px 0 7px;
    }
}
@media (min-width: 1200px) {
    .mfp-content {
        /* width: 34%; */
        height: 90vh;
    }
    .slick-list {
        padding: 0 0 !important;
    }
    h1 {
        font-size: 74px;
        line-height: 89px;
    }
    .hotels {
        font-size: 201px;
        line-height: 145px;
    }
    .hotel03 h5
    {
        margin-bottom: 46px;
        margin-top: 90px;
    }
    .hotels_small {
        font-size: 34px;
        line-height: 41px;
        top: 77%;
        transform: translateY(-65%);
    }
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
    .sub-menu li img {
        width: 596px;
    }
    .sub-menu li img.home_text2 {
        width: 478px;
        margin-top: 14px;
        padding-left:5px;
    }
    .top_menu {
        right: 41px;
    }
    .top_menu ul li {
        padding: 0 7px;
        line-height: 15px;

    }
    .top_menu ul li:nth-child(2){
        border-right: solid 1px #ffff;
    }
    .mani_last .manifesto_intro {
        max-height: 562px;
        max-width: 1000px;
        top: 61%;
        transform: translateY(-78%);
    }
    .mani_last .manifesto_intro span {
        padding-top: 6%;
    }
    .mani_last .manifesto_intro h2 {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .mani_last .manifesto_intro h3 {
        padding-bottom: 6%;
    }
    .btn_box {
        width: 105px;
        height: 58px;
    }
}
/*carousel slider bootstrap*/
.carousel {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

}
.slide-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 450px;
}
.slide-box .cour_box:nth-child(1) {
    flex: 100%;
    max-width: 100%;
    margin-left: 0%;
}
.slide-box .cour_box:nth-child(2) {
    flex: 0 0 33%;
    max-width: 33%;
    margin-left: 0%;
}
.slide-box .cour_box:nth-child(3) {
    margin-right: 0%;
    flex: 0 0 33%;
    max-width: 33%;
}
.carousel-control-prev {
    position: absolute;
    top: 50%;
    bottom: -50%;
    left: 30px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
.carousel-control-next {
    position: absolute;
    top: 50%;
    bottom: -50%;
    right: 50px;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        object-fit: cover;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .pswp {
        display: none !important;
    }
    .slide-box .cour_box {
        -ms-flex: 0 0 25%;
        flex: 0 0 32%;
        max-width: 30%;
        max-height: auto;
        height: auto;
    }
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}
#carousel .fp-tableCell {
    padding: 0px;
    height: auto !important;
}
/*carousel slider bootstrap*/
/*sep 29*/
.dropdown-menu{background-color:transparent !important;}
h1 {
    font-weight: 200 !important;
}
.btn {
    font-weight: 300;
}
@media (min-width: 1200px){
    .top_menu {
        right: -4px !important;
    }
}
@media (min-width: 1200px){
    .top_menu ul li:nth-child(2) {
        border-right: solid 0px #ffff; 
    }
}
.top_menu ul li .dropdown button {
    font-family: 'HelveticaNeue-Light' !important;
    font-size: 14px ;
}
.homeid2{padding-top:6px;}
.hotel03 h6 {
    font-family: 'HelveticaNeue-Light' !important;
}
.hotels_bottom_nav a{text-transform: uppercase;margin-top: -17px;font-weight:300 !important;}
.hotels_bottom_nav a:hover{
    text-decoration: none;
}
.hotel03 h5 {text-transform: uppercase ;}
.projects_main2 button#dropdownMenu2 {
    margin-bottom: 4px;
}
.hotel02 p {
    max-width: 690px !important;
}
.slide-box .cour_box{
    position: relative;
    object-fit: cover;
    margin: 0 20px;
}
.cour_box h3 {
    font-size: 18px;
    margin: 20px 0 0 0;
    font-weight: 900;
    color: black;
}
.cour_box p {
    font-size: 18px;
    font-weight: normal;
    margin: 15px auto 0 auto;
    max-width: 340px;
    color: #444444;
}
.slide-box .cour_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: static;
    object-position: center center;
}
.mobile_cour h3 {
    font-size: 18px;
    margin: 20px 0 0 0;
    font-weight: 900;
    color: black;
}
.mobile_cour p {
    font-size: 15px;
    font-weight: normal;
    margin: 5px auto 0 auto;
    max-width: 340px;
    color: #444444;
    line-height: 20px;
}
footer {
    background-size: cover;
}
p {
    font-family: 'HelveticaNeue-Light' !important;
    font-weight: 300;
    /* font-family: 'HelveticaNeue-Light'; */
}
.bounce {
    animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1360px !important;
    }
}
@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        display: block;
        visibility: visible;
    }
}
.carousel-inner {
    overflow: hidden;
    height: 440px;
}
#services_section .container{
    padding: 30px 0;
}
.heading_group span{text-transform:uppercase;}
.hotels_bottom_nav span{

    margin-left: 0;

    display: block;

    text-align: center;
}
footer .hotels_bottom_nav span {
    margin-right: 0px;
}
.services-h3{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px auto 37px auto;
    color: #A3A0A0;
    font-family: Cormorant Garamond !important;
    margin-top: 29px !important;
}
/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
    margin: 0 auto;
    width: 1000px;
}
/* The width of each slide */
.slick-slide {
    outline:none;
    box-shadow: 0 0 0 0 black !important;
}
.slick-next::before, .slick-prev::before {
    color: #fff;
}
.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    object-position: center center;
}
.slick-slide {
    padding: 0 5px;
    height: 520px;
    position: relative;
}
.slick_image {
    height: 412px;
    position: relative;
}
.slid_inner  h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: 'HelveticaNeue-Light';
    max-width: 660px;
    margin: 10px auto 0px auto;
    padding: 0 15px;
}
.slid_inner p.content-clipped {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A3A0A0;
    font-family: 'HelveticaNeue-Light';
    max-width: 660px;
    margin: 10px auto 10px auto;
    padding: 0 15px;
}
.slick-next::before {
    transform: rotate(0) !important;
    width: 27px !important;
}
/* Color of the arrows */
.slick-next::before, .slick-prev::before {background-image: url(../images/icons/right_arrow.png);content: '';width: 25px;height: 26px;position: absolute;left: 0;top: 0;background-position: center center;background-repeat: no-repeat;transform: rotate(183deg);}
.fontlarge{font-size:165px;}
.fontmedium{font-size:165px;}
.stories{margin-top: 175px; padding-bottom: 68px;}
.li-box li {
    display: block;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1441px) {
    .hotels_small {
        top: 74%;
    }
    h5.manifesto_name {top:95%;}
    .manifesto_intro {
    top: 70% !important;
    }
    .mani_last .manifesto_intro {
        max-width: 1000px !important;
    }
    div.gfg { 
        width: 1000px !important;
    } 
    .mani_last .manifesto_intro h2 {
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .mani_last .manifesto_intro h3 {
        padding-bottom: 3%;
    }
    .mobile-phone{display:none;}
    .projects_gellery img {
        margin-bottom: 0px !important;
        max-width: 100%;
    }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px 13inch
*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .hotels_small {
        top: 73%;
    }
    /*.services-h3{font-size:12px;}*/
    .mani_last .manifesto_intro {top: 77%;} 
    .manifesto_intro {
        /*max-width: 1000px !important;*/
        max-height: 530px;
    }
    /*.buttondiv{padding-left:0px !important;}*/
    .gfg{top:75%! important; max-height: 522px !important;}
    
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .hotels_small {
        top: 78%;
    }
    .manifesto_intro {top: 56%;}
    h5.manifesto_name {top: 68%;}
    /*.buttondiv{margin-left:45% !important;}*/
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .hotels_small {
        top: 71%;
    }
    .manifesto_intro {top: 60% !important;}
    .h5.manifesto_name {top: 97% !important;}
    .mani_last .manifesto_intro {top: 59%;}
    h5.manifesto_name {top: 96% !important;}
    .mani_last .manifesto_intro {max-height: 509px !important;top: 71% !important;}
    /*.buttondiv{margin-left: 45% !important;}*/
    div.gfg{width: 985px !important;}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    .hotels_small {
        top: 74%;
    }
    .slick-slide {
        height: 100% !important;
    }
    .contact_us01{padding-bottom: 100px;}
    .mobile-phone{
        margin:10px 7px 0 5px;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    
    
    .hotel02{top: 82%;}
    .slick-list{padding:7% 7% !important;}
    .slick-arrow{display:none !important;}
    .hotels_small{top: 63%;font-size: 22px;}
    .hotel03 h5{padding-top: 48px;}
    .slick-slide {height: 100% !important;}
    .fontlarge{font-size:56px;}
    .fontmedium{font-size:56px;}
    .stories{margin-top: 200px;}
    .btnmobilegeneral{padding-top: 10px;}
    .contact_us01{padding-bottom: 100px;}
    .home_text2{width:40% !important;}
    .contact_us01{padding-bottom:350px !important;}
    /*button#dropdownMenu2 {font-size: 7px;}*/
    .dropdown-item{padding: 0.50rem 0.9rem;}
    
    .socials {display: inline !important;}
    .mute_btn{left:20px;}
    
    .fp-controlArrow.fp-next {
        top: 94%;
    }
    .fp-controlArrow.fp-prev {
        top: 94%;
    }
    .manifesto_intro {max-height: 520px;}
    .manifesto_intro h2 {
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .mani_last .manifesto_intro {
        max-width: 393px;
    }
    .mani_last {
        padding-right: 8px !important;
    }
    #work-with .li-box ul li {
        width: 31%;
        text-align: center;
        padding: 10px 0;
        min-height: 100px;
        align-items: center;
        align-self: center;
        display: flex;
    }
    .mobile-phone{
        margin:10px 7px 0 5px;
    }
    .manifesto_intro {
        background: rgba(0 0 0 / 36%);
    }
    .mani_last .manifesto_intro {top: 67%;}
}
.go_up{
    cursor:pointer}

.pswp__top-bar {
    top: 60px !important;
}
.gallery figure img {
    width: 90%;
    max-width: 600px;
}
.pswp__caption__center {
    max-width: 100% !important;
    color: #fff;
}

.pswp__caption__center em.text-muted {
    color: #000 !important;
    text-align: right;
    float: right;
}

.pswp__bg {
    background: #ffffff;
}.pswp__top-bar, .pswp__caption {
    background-color: rgb(255 255 255) !important;
}

.pswp__counter {
    color: #000;
}

button.pswp__button.pswp__button--close {
    background: transparent !important;
    transform: scale(1.4, 1);
}

button.pswp__button.pswp__button--close:after {content: 'X';font-family: revert;font-size: 21px;}

.pswp__caption__center {
    color: #000;
}

#section0{background-color:transparent !important;}

@media (min-width: 700px) and (max-width: 3000px) {
    .mobile-phone{display:none;}
}

.mobile-phone{float:left;margin-top: 10px;}

/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

.dropdown-menu-mobile{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;}

.dropdown-toggle{background:transparent;}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

.close {
    opacity: 1 !important;
}
.instagram a:before {
    content: "\E904";
}
a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: inherit;
    display: block;
    font-family: "1508London"!important;
    font-size: 1.7rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    left: 0;
    line-height: 1;
    position: absolute;
    speak: none;
    text-indent: 0;
    text-transform: none;
    top: 0;
}
.slid_inner p.content-clipped {
    display: block;
}
.mani_last .manifesto_intro .manifesto_intro_inner {
    max-height: 100%;
    overflow: auto;
}
.intro.manifesto_intro.gfg.manifesto_custom_img {
    overflow-x: unset;
    overflow-y: unset;
}
.manifesto_custom_img span {
    font-family: 'HelveticaNeue-Light' !important;
}
.manifesto_custom_img h2 {
    font-family: 'HelveticaNeue-Light' !important;
}
.manifesto_custom_img h3 {
    font-family: 'HelveticaNeue-Light' !important;
}
.manifesto_custom_img p {
    font-family: 'HelveticaNeue-Light' !important;
}
.manifesto_custom_img .custom_font {
    font-family: 'Cormorant Garamond' !important;
}
.manifesto_custom_img b {
    font-family: 'HelveticaNeue-Light' !important;
}
.unmute-icon,
.mute_btn.active .mute-icon{
    display: none;
}
.mute_btn.active .unmute-icon {
    display: inline-block;
    width: 25px;
    height: 18px;
}

.mobile_video{
  width: 100% !important;
  height: 100% !important;
} 
@media (min-width: 913px) {
.mobile_video{
        visibility: hidden;
    }
.desktop_video{
 width: 125% !important;
  height: 100% !important;
 }
}
@media (max-width: 913px) {
    .desktop_video{
        visibility: hidden;
    }
    .mobile_video{
        visibility: visible;
    }
    .heading_group {
       width: 100% !important;
       margin: 0 auto !important;
    }
    .media_drop select{
  text-align:center !important;
}
}
.fancybox-navigation .fancybox-button--arrow_left{padding-left: 16px !important;}
    