
@font-face {
  font-family: 'FrutigerLTArabic-45Light';
  src: url('FrutigerLTArabic-45Light.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTArabic-45Light.woff') format('woff'), url('FrutigerLTArabic-45Light.ttf')  format('truetype'), url('FrutigerLTArabic-45Light.svg#FrutigerLTArabic-45Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
